{{extend 'layout.html'}}

{{if msg==None:}}
<div class="container">
    {{=form.custom.begin}}
        {{for f in form.fields[1:36]:}}
        <div class="row mb-2">
            <div class="col-md-3">
                {{=form.custom.label[f]}}
            </div>
            <div class="col-md-9">
                {{=form.custom.widget[f]}}
            </div>
        </div>
        {{pass}}
    


        <div class="row justify-content-center">
            <h3>
                Initial presentation of Dystonia
            </h3>
        </div>
    
        {{for f in form.fields[36:57]:}}
            <div class="row mb-2">
                <div class="col-md-3" style="text-align:right">
                    {{=form.custom.label[f]}}
                </div>
                <div class="col-md-9">
                    {{=form.custom.widget[f]}}
                </div>
            </div>
        {{pass}}        


        <div class="row justify-content-center">
            <h3>
                Tremor type and distribution
            </h3>
        </div>
    
        {{for f in form.fields[57:81]:}}
            <div class="row mb-2">
                <div class="col-md-3" style="text-align:right">
                    {{=form.custom.label[f]}}
                </div>
                <div class="col-md-9">
                    {{=form.custom.widget[f]}}
                </div>
            </div>
        {{pass}}

        <div class="row justify-content-center">
            <h3>
                primary dystonia
            </h3>
        </div>
    
        {{for f in form.fields[81:106]:}}
            <div class="row mb-2">
                <div class="col-md-3" style="text-align:right">
                    {{=form.custom.label[f]}}
                </div>
                <div class="col-md-9">
                    {{=form.custom.widget[f]}}
                </div>
            </div>
        {{pass}}

        
        <div class="row justify-content-center">
            <h3>
                FM
            </h3>
        </div>
    
        {{for f in form.fields[106:134]:}}
            <div class="row mb-2">
                <div class="col-md-3" style="text-align:right">
                    {{=form.custom.label[f]}}
                </div>
                <div class="col-md-9">
                    {{=form.custom.widget[f]}}
                </div>
            </div>
        {{pass}}

        <div class="row justify-content-center">
            <h3>
                GDRS 
            </h3>
        </div>
    
        {{for f in form.fields[134:144]:}}
            <div class="row mb-2">
                <div class="col-md-3" style="text-align:right">
                    {{=form.custom.label[f]}}
                </div>
                <div class="col-md-9">
                    {{=form.custom.widget[f]}}
                </div>
            </div>
        {{pass}}
    

        <div class="row justify-content-center">
            <h3>
                MOCA Test
            </h3>
        </div>
    
        {{for f in form.fields[144:]:}}
            <div class="row mb-2">
                <div class="col-md-3" style="text-align:right">
                    {{=form.custom.label[f]}}
                </div>
                <div class="col-md-9">
                    {{=form.custom.widget[f]}}
                </div>
            </div>
        {{pass}}
    {{if editable:}}
        {{=form.custom.submit}}
    {{pass}}        
    {{=form.custom.end}}
    </div>
{{else:}}
{{=msg}}
{{pass}}
<script type="text/javascript"></script>

<script>

function add_view(id,value){
document.getElementById(id).removeAttribute("readonly");
document.getElementById(id).value = value;
document.getElementById(id).readOnly = true; 
}

// updrs_3_18b
        if($('#physician_section_family_others_bkgrnd').prop('value') == 'بلی')
                $('#physician_section_disease_type').show();                
            
       else 
             $('#physician_section_disease_type').hide();                             
       $('#physician_section_family_others_bkgrnd').change(function(){
            if($('#physician_section_family_others_bkgrnd').prop('value') == 'بلی')
                $('#physician_section_disease_type').show();            
            else 
                $('#physician_section_disease_type').hide();            
            });     


        if($('#physician_section_task_specific').prop('value') == 'بلی')
                $('#physician_section_dist_activities').show();                            
       else 
             $('#physician_section_dist_activities').hide();                             
       $('#physician_section_task_specific').change(function(){
            if($('#physician_section_task_specific').prop('value') == 'بلی')
                $('#physician_section_dist_activities').show();            
            else 
                $('#physician_section_dist_activities').hide();            
            });     




        if($('#physician_section_dist_activities').prop('value') == 'سایر')
                $('#physician_section_task_specific_type').show();                            
       else 
             $('#physician_section_task_specific_type').hide();                             
       $('#physician_section_dist_activities').change(function(){
            if($('#physician_section_dist_activities').prop('value') == 'سایر')
                $('#physician_section_task_specific_type').show();            
            else 
                $('#physician_section_task_specific_type').hide();            
            });     



        if($('#physician_section_disorder_mood_exist').prop('value') == 'سایر')
                $('#physician_section_disorder_mood_type').show();                            
       else 
             $('#physician_section_disorder_mood_type').hide();                             
       $('#physician_section_disorder_mood_exist').change(function(){
            if($('#physician_section_disorder_mood_exist').prop('value') == 'سایر')
                $('#physician_section_disorder_mood_type').show();            
            else 
                $('#physician_section_disorder_mood_type').hide();            
            });  




        if($('#physician_section_no_tremor').prop('value') == 'بلی'){                  
                $('#physician_section_t_lfoot').show();   
                $('#physician_section_t_rfoot').show();   
                $('#physician_section_t_luleg').show();   
                $('#physician_section_t_ruleg').show();   
                $('#physician_section_t_lhand').show();   
                $('#physician_section_t_rhand').show();   
                $('#physician_section_t_luarm').show();
                $('#physician_section_t_ruarm').show();
                $('#physician_section_t_lshoulder').show();   
                $('#physician_section_t_rshoulder').show();   
                $('#physician_section_t_luface').show();   
                $('#physician_section_t_Ruface').show();   
                $('#physician_section_t_llface').show();   
                $('#physician_section_t_rlface').show();   
                $('#physician_section_t_pelvis').show();   
                $('#physician_section_t_neck').show();   
                $('#physician_section_t_trunk').show();   
                $('#physician_section_t_jaw').show();   
                 
                $('#physician_section_t_tongue').show();   

                }                         
       else{

                $('#physician_section_t_lfoot').hide();   
                $('#physician_section_t_rfoot').hide();   
                $('#physician_section_t_luleg').hide();   
                $('#physician_section_t_ruleg').hide();   
                $('#physician_section_t_lhand').hide();   
                $('#physician_section_t_rhand').hide();   
                $('#physician_section_t_luarm').hide(); 
                $('#physician_section_t_ruarm').hide();
                $('#physician_section_t_lshoulder').hide();   
                $('#physician_section_t_rshoulder').hide();   
                $('#physician_section_t_luface').hide();   
                $('#physician_section_t_Ruface').hide();   
                $('#physician_section_t_llface').hide();   
                $('#physician_section_t_rlface').hide();   
                $('#physician_section_t_pelvis').hide();   
                $('#physician_section_t_neck').hide();   
                $('#physician_section_t_trunk').hide();   
                $('#physician_section_t_jaw').hide();   
                
                $('#physician_section_t_tongue').hide();   

            }                         
       $('#physician_section_no_tremor').change(function(){
            if($('#physician_section_no_tremor').prop('value') == 'بلی'){
                $('#physician_section_t_lfoot').show();   
                $('#physician_section_t_rfoot').show();   
                $('#physician_section_t_luleg').show();   
                $('#physician_section_t_ruleg').show();   
                $('#physician_section_t_lhand').show();   
                $('#physician_section_t_rhand').show();   
                $('#physician_section_t_luarm').show();  
                $('#physician_section_t_ruarm').show();
                $('#physician_section_t_lshoulder').show();   
                $('#physician_section_t_rshoulder').show();   
                $('#physician_section_t_luface').show();   
                $('#physician_section_t_Ruface').show();   
                $('#physician_section_t_llface').show();   
                $('#physician_section_t_rlface').show();   
                $('#physician_section_t_pelvis').show();   
                $('#physician_section_t_neck').show();   
                $('#physician_section_t_trunk').show();   
                $('#physician_section_t_jaw').show();   
                  
                $('#physician_section_t_tongue').show();       
            }      
            else {
                $('#physician_section_t_lfoot').hide();   
                $('#physician_section_t_rfoot').hide();   
                $('#physician_section_t_luleg').hide();   
                $('#physician_section_t_ruleg').hide();   
                $('#physician_section_t_lhand').hide();   
                $('#physician_section_t_rhand').hide();   
                $('#physician_section_t_luarm').hide(); 
                $('#physician_section_t_ruarm').hide();
                $('#physician_section_t_lshoulder').hide();   
                $('#physician_section_t_rshoulder').hide();   
                $('#physician_section_t_luface').hide();   
                $('#physician_section_t_Ruface').hide();   
                $('#physician_section_t_llface').hide();   
                $('#physician_section_t_rlface').hide();   
                $('#physician_section_t_pelvis').hide();   
                $('#physician_section_t_neck').hide();   
                $('#physician_section_t_trunk').hide();   
                $('#physician_section_t_jaw').hide();   
                
                $('#physician_section_t_tongue').hide();    
            }         
            });  

// Paraclinics

                if($('#physician_section_mri').prop('value') == 'بلی'){
                     $('#physician_section_dscr_mri').show();   
                     $('#physician_section_mri_pic_path').show();          
                }      
            
              else {
                    $('#physician_section_dscr_mri').hide();    
                    $('#physician_section_mri_pic_path').hide();                           
              }
             $('#physician_section_mri').change(function(){
                     if($('#physician_section_mri').prop('value') == 'بلی'){
                         $('#physician_section_dscr_mri').show();      
                         $('#physician_section_mri_pic_path').show();    
                     }      
                    else {
                        $('#physician_section_dscr_mri').hide();  
                        $('#physician_section_mri_pic_path').hide();          
                    }
            });  

            if($('#physician_section_ct_scan').prop('value') == 'بلی'){
                     $('#physician_section_dscr_ct_scan').show();     
                     $('#physician_section_ct_scan_pic_path').show();  
            }          
            
              else {
                    $('#physician_section_dscr_ct_scan').hide();      
                    $('#physician_section_ct_scan_pic_path').hide();                        
              }
             $('#physician_section_ct_scan').change(function(){
                     if($('#physician_section_ct_scan').prop('value') == 'بلی'){
                         $('#physician_section_dscr_ct_scan').show();            
                         $('#physician_section_ct_scan_pic_path').show(); 
                     } 
                     else {
                        $('#physician_section_dscr_ct_scan').hide();            
                        $('#physician_section_ct_scan_pic_path').hide(); 
                     }
            });  

            if($('#physician_section_tests').prop('value') == 'بلی'){
                     $('#physician_section_dscr_tests').show();                
                     $('#physician_section_tests_pic_path').show();      
            }          
            else{ 
                    $('#physician_section_dscr_tests').hide();       
                    $('#physician_section_tests_pic_path').hide();                        
            }
             $('#physician_section_tests').change(function(){
                     if($('#physician_section_tests').prop('value') == 'بلی'){
                         $('#physician_section_dscr_tests').show();    
                         $('#physician_section_tests_pic_path').show();           
                     } 
                    else {
                        $('#physician_section_dscr_tests').hide();            
                        $('#physician_section_tests_pic_path').hide();    
                    }
            });  

            if($('#physician_section_refer').prop('value') == 'بلی')
                     $('#physician_section_dscr_refer').show();                
            
              else 
                    $('#physician_section_dscr_refer').hide();                             
             $('#physician_section_refer').change(function(){
                     if($('#physician_section_refer').prop('value') == 'بلی')
                         $('#physician_section_dscr_refer').show();            
                    else 
                        $('#physician_section_dscr_refer').hide();            
            }); 

            if($('#physician_section_other_fs').prop('value') == 'بلی')
                     $('#physician_section_dscr_others').show();                
            
              else 
                    $('#physician_section_dscr_others').hide();                             
             $('#physician_section_other_fs').change(function(){
                     if($('#physician_section_other_fs').prop('value') == 'بلی')
                         $('#physician_section_dscr_others').show();            
                    else 
                        $('#physician_section_dscr_others').hide();            
            }); 



// Moca
            
        $('#physician_section_moca_1').add('#physician_section_moca_2').add('#physician_section_moca_3').add('#physician_section_moca_4').add('#physician_section_moca_5').add('#physician_section_moca_6').add('#physician_section_moca_7').add('#physician_section_moca_8').add('#physician_section_moca_9').add('#physician_section_moca_10').change(function(){
                moca_1 = isNaN(parseInt($('#physician_section_moca_1').find(":selected").text())) ? 0 : parseInt($('#physician_section_moca_1').find(":selected").text())
                moca_2 = isNaN(parseInt($('#physician_section_moca_2').find(":selected").text())) ? 0 : parseInt($('#physician_section_moca_2').find(":selected").text())
                moca_3 = isNaN(parseInt($('#physician_section_moca_3').find(":selected").text())) ? 0 : parseInt($('#physician_section_moca_3').find(":selected").text())
                moca_4 = isNaN(parseInt($('#physician_section_moca_4').find(":selected").text())) ? 0 : parseInt($('#physician_section_moca_4').find(":selected").text())
                moca_5 = isNaN(parseInt($('#physician_section_moca_5').find(":selected").text())) ? 0 : parseInt($('#physician_section_moca_5').find(":selected").text())
                moca_6 = isNaN(parseInt($('#physician_section_moca_6').find(":selected").text())) ? 0 : parseInt($('#physician_section_moca_6').find(":selected").text())
                moca_7 = isNaN(parseInt($('#physician_section_moca_7').find(":selected").text())) ? 0 : parseInt($('#physician_section_moca_7').find(":selected").text())
                moca_8 = isNaN(parseInt($('#physician_section_moca_8').find(":selected").text())) ? 0 : parseInt($('#physician_section_moca_8').find(":selected").text())
                moca_9 = isNaN(parseInt($('#physician_section_moca_9').find(":selected").text())) ? 0 : parseInt($('#physician_section_moca_9').find(":selected").text())
                moca_10 = isNaN(parseInt($('#physician_section_moca_10').find(":selected").text())) ? 0 : parseInt($('#physician_section_moca_10').find(":selected").text())
                // $('#physician_section_moca_total').val(moca_1+moca_2+moca_3+moca_4+moca_5+moca_6+moca_7+moca_8+moca_9+moca_10)
                x = moca_1+moca_2+moca_3+moca_4+moca_5+moca_6+moca_7+moca_8+moca_9+moca_10
                add_view("physician_section_moca_total",x)

            });    



            $('#physician_section_eye_top_face').add('#physician_section_bottom_face').add('#physician_section_tongue').add('#physician_section_larynx').add('#physician_section_neck').add('#physician_section_rshoulder').add('#physician_section_lshoulder').add('#physician_section_relbow').add('#physician_section_lelbow').add('#physician_section_rplc').add('#physician_section_lplc').add('#physician_section_rdist').add('#physician_section_ldist').add('#physician_section_body').change(function(){
                eye_top_face = isNaN(parseInt($('#physician_section_eye_top_face').find(":selected").text())) ? 0 : parseInt($('#physician_section_eye_top_face').find(":selected").text())
                bottom_face = isNaN(parseInt($('#physician_section_bottom_face').find(":selected").text())) ? 0 : parseInt($('#physician_section_bottom_face').find(":selected").text())
                tongue = isNaN(parseInt($('#physician_section_tongue').find(":selected").text())) ? 0 : parseInt($('#physician_section_tongue').find(":selected").text())
                larynx = isNaN(parseInt($('#physician_section_larynx').find(":selected").text())) ? 0 : parseInt($('#physician_section_larynx').find(":selected").text())
                neck = isNaN(parseInt($('#physician_section_neck').find(":selected").text())) ? 0 : parseInt($('#physician_section_neck').find(":selected").text())
                rshoulder = isNaN(parseInt($('#physician_section_rshoulder').find(":selected").text())) ? 0 : parseInt($('#physician_section_rshoulder').find(":selected").text())
                lshoulder = isNaN(parseInt($('#physician_section_lshoulder').find(":selected").text())) ? 0 : parseInt($('#physician_section_lshoulder').find(":selected").text())
                relbow = isNaN(parseInt($('#physician_section_relbow').find(":selected").text())) ? 0 : parseInt($('#physician_section_relbow').find(":selected").text())
                lelbow = isNaN(parseInt($('#physician_section_lelbow').find(":selected").text())) ? 0 : parseInt($('#physician_section_lelbow').find(":selected").text())
                rplc = isNaN(parseInt($('#physician_section_rplc').find(":selected").text())) ? 0 : parseInt($('#physician_section_rplc').find(":selected").text())
                lplc = isNaN(parseInt($('#physician_section_lplc').find(":selected").text())) ? 0 : parseInt($('#physician_section_lplc').find(":selected").text())
                rdist = isNaN(parseInt($('#physician_section_rdist').find(":selected").text())) ? 0 : parseInt($('#physician_section_rdist').find(":selected").text())
                ldist = isNaN(parseInt($('#physician_section_ldist').find(":selected").text())) ? 0 : parseInt($('#physician_section_ldist').find(":selected").text())
                body = isNaN(parseInt($('#physician_section_body').find(":selected").text())) ? 0 : parseInt($('#physician_section_body').find(":selected").text())
                // $('#physician_section_global_total').val(eye_top_face+bottom_face+tongue+larynx+neck+rshoulder+lshoulder+relbow+lelbow+rplc+lplc+rdist+ldist+body)
                x = eye_top_face+bottom_face+tongue+larynx+neck+rshoulder+lshoulder+relbow+lelbow+rplc+lplc+rdist+ldist+body
                add_view("physician_section_global_total",x)
            });     

            $('#physician_section_eye_fac').add('#physician_section_eye_int').change(function(){                
                $('#physician_section_eye_sum').val($('#physician_section_eye_fac').val() * $('#physician_section_eye_int').val()*0.5);
                eye_fac = isNaN(parseInt($('#physician_section_eye_fac').find(":selected").text())) ? 0 : parseInt($('#physician_section_eye_fac').find(":selected").text())
                eye_int = isNaN(parseInt($('#physician_section_eye_int').find(":selected").text())) ? 0 : parseInt($('#physician_section_eye_int').find(":selected").text())
                x = $('#physician_section_eye_sum').val()
                // x = eye_fac * eye_int * 0.5
                add_view("physician_section_eye_sum",x)
                fm_total();
            });     


            $('#physician_section_mouth_fac').add('#physician_section_mouth_int').change(function(){                
                $('#physician_section_mouth_sum').val($('#physician_section_mouth_fac').val() * $('#physician_section_mouth_int').val()*0.5);
                mouth_fac = isNaN(parseInt($('#physician_section_mouth_fac').find(":selected").text())) ? 0 : parseInt($('#physician_section_mouth_fac').find(":selected").text())
                mouth_int = isNaN(parseInt($('#physician_section_mouth_int').find(":selected").text())) ? 0 : parseInt($('#physician_section_mouth_int').find(":selected").text())
                x = mouth_fac * mouth_int * 0.5
                add_view("physician_section_mouth_sum",x)
                fm_total();
            });    


            $('#physician_section_eat_fac').add('#physician_section_eat_int').change(function(){                
                $('#physician_section_eat_sum').val($('#physician_section_eat_fac').val() * $('#physician_section_eat_int').val());
                eat_fac = isNaN(parseInt($('#physician_section_eat_fac').find(":selected").text())) ? 0 : parseInt($('#physician_section_eat_fac').find(":selected").text())
                eat_int = isNaN(parseInt($('#physician_section_eat_int').find(":selected").text())) ? 0 : parseInt($('#physician_section_eat_int').find(":selected").text())
                x = eat_fac * eat_int
                add_view("physician_section_eat_sum",x)
                fm_total();
            });    


            $('#physician_section_neck_fac').add('#physician_section_neck_int').change(function(){                
                $('#physician_section_neck_sum').val($('#physician_section_neck_fac').val() * $('#physician_section_neck_int').val()*0.5);
                neck_fac = isNaN(parseInt($('#physician_section_neck_fac').find(":selected").text())) ? 0 : parseInt($('#physician_section_neck_fac').find(":selected").text())
                neck_int = isNaN(parseInt($('#physician_section_neck_int').find(":selected").text())) ? 0 : parseInt($('#physician_section_neck_int').find(":selected").text())
                x = neck_fac * neck_int * 0.5
                add_view("physician_section_neck_sum",x)
                fm_total();
            });    


            $('#physician_section_rhand_fac').add('#physician_section_rhand_int').change(function(){                
                $('#physician_section_rhand_sum').val($('#physician_section_rhand_fac').val() * $('#physician_section_rhand_int').val());
                rhand_fac = isNaN(parseInt($('#physician_section_rhand_fac').find(":selected").text())) ? 0 : parseInt($('#physician_section_rhand_fac').find(":selected").text())
                rhand_int = isNaN(parseInt($('#physician_section_rhand_int').find(":selected").text())) ? 0 : parseInt($('#physician_section_rhand_int').find(":selected").text())
                x = rhand_fac * rhand_int
                add_view("physician_section_rhand_sum",x)
                fm_total();
            });    


            $('#physician_section_lhand_fac').add('#physician_section_lhand_int').change(function(){
                $('#physician_section_lhand_sum').val($('#physician_section_lhand_fac').val() * $('#physician_section_lhand_int').val());
                lhand_fac = isNaN(parseInt($('#physician_section_lhand_fac').find(":selected").text())) ? 0 : parseInt($('#physician_section_lhand_fac').find(":selected").text())
                lhand_int = isNaN(parseInt($('#physician_section_lhand_int').find(":selected").text())) ? 0 : parseInt($('#physician_section_lhand_int').find(":selected").text())
                x = lhand_fac * lhand_int
                add_view("physician_section_lhand_sum",x)
                fm_total();
            });                

            
            $('#physician_section_body_fac').add('#physician_section_body_int').change(function(){                
                $('#physician_section_body_sum').val($('#physician_section_body_fac').val() * $('#physician_section_body_int').val());
                body_fac = isNaN(parseInt($('#physician_section_body_fac').find(":selected").text())) ? 0 : parseInt($('#physician_section_body_fac').find(":selected").text())
                body_int = isNaN(parseInt($('#physician_section_body_int').find(":selected").text())) ? 0 : parseInt($('#physician_section_body_int').find(":selected").text())
                x = body_fac * body_int
                add_view("physician_section_body_sum",x)
                fm_total();
            });                


            $('#physician_section_rleg_fac').add('#physician_section_rleg_int').change(function(){                
                $('#physician_section_rleg_sum').val($('#physician_section_rleg_fac').val() * $('#physician_section_rleg_int').val());
                rleg_fac = isNaN(parseInt($('#physician_section_rleg_fac').find(":selected").text())) ? 0 : parseInt($('#physician_section_rleg_fac').find(":selected").text())
                rleg_int = isNaN(parseInt($('#physician_section_rleg_int').find(":selected").text())) ? 0 : parseInt($('#physician_section_rleg_int').find(":selected").text())
                x = rleg_fac * rleg_int
                add_view("physician_section_rleg_sum",x)
                fm_total();
            });                


            $('#physician_section_lleg_fac').add('#physician_section_lleg_int').change(function(){                
                $('#physician_section_lleg_sum').val($('#physician_section_lleg_fac').val() * $('#physician_section_lleg_int').val());
                lleg_fac = isNaN(parseInt($('#physician_section_lleg_fac').find(":selected").text())) ? 0 : parseInt($('#physician_section_lleg_fac').find(":selected").text())
                lleg_int = isNaN(parseInt($('#physician_section_lleg_int').find(":selected").text())) ? 0 : parseInt($('#physician_section_lleg_int').find(":selected").text())
                x = lleg_fac * lleg_int
                add_view("physician_section_lleg_sum",x)
                fm_total();
            }); 



            function fm_total(){
                eye_sum = isNaN(parseInt($('#physician_section_eye_sum').val())) ? 0 : parseInt($('#physician_section_eye_sum').val())
                mouth_sum = isNaN(parseInt($('#physician_section_mouth_sum').val())) ? 0 : parseInt($('#physician_section_mouth_sum').val())
                eat_sum = isNaN(parseInt($('#physician_section_eat_sum').val())) ? 0 : parseInt($('#physician_section_eat_sum').val())
                neck_sum = isNaN(parseInt($('#physician_section_neck_sum').val())) ? 0 : parseInt($('#physician_section_neck_sum').val())
                rhand_sum = isNaN(parseInt($('#physician_section_rhand_sum').val())) ? 0 : parseInt($('#physician_section_rhand_sum').val())                
                lhand_sum = isNaN(parseInt($('#physician_section_lhand_sum').val())) ? 0 : parseInt($('#physician_section_lhand_sum').val())
                body_sum = isNaN(parseInt($('#physician_section_body_sum').val())) ? 0 : parseInt($('#physician_section_body_sum').val())
                rleg_sum = isNaN(parseInt($('#physician_section_rleg_sum').val())) ? 0 : parseInt($('#physician_section_rleg_sum').val())
                lleg_sum = isNaN(parseInt($('#physician_section_lleg_sum').val())) ? 0 : parseInt($('#physician_section_lleg_sum').val())                
                $('#physician_section_fm_total').val($('#physician_section_eye_sum').val() + $('#physician_section_mouth_sum').val() + $('#physician_section_eat_sum').val() + $('#physician_section_neck_sum').val()+ $('#physician_section_rhand_sum').val()+ $('#physician_section_lhand_sum').val()+$('#physician_section_body_sum').val()+$('#physician_section_rleg_sum').val()+$('#physician_section_lleg_sum').val());
                // $('#physician_section_fm_total').val(eye_sum+mouth_sum+eat_sum+neck_sum+rhand_sum+lhand_sum+body_sum+rleg_sum+lleg_sum)
                x = eye_sum+mouth_sum+eat_sum+neck_sum+rhand_sum+lhand_sum+body_sum+rleg_sum+lleg_sum
                add_view("physician_section_fm_total",x)
            }


            </script>                    
